{% extends 'main.html' %}
{% load static %}
{% block title %}privacy policy{% endblock %}
{% block content %}
<div
class="hero page-inner overlay"
style="background-image: url('images/hero_bg_3.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">Privacy</h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
            Privacy
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="section">
<div class="container">
  <div class="row text-left mb-5">
    <div class="col-12">
      <h2 class="font-weight-bold heading text-primary mb-4">Our Privacy Policy:</h2>
    </div>
    <div class="col-lg-12">

        <p class="text-black-50">
            <strong>1. Collection of Information:</strong> We collect personal information, such as name, contact details, and identification information, from users who list or search for defaulters on our platform. This information is necessary for the functioning of the platform and to comply with legal requirements.
        </p>
        <p class="text-black-50">
            <strong>2. Use of Information:</strong> The personal information collected is used to facilitate communication with users, improve our services, and ensure the security of the platform.
        </p>
        <p class="text-black-50">
            <strong>3. Protection of Information:</strong> We take reasonable measures to protect the personal information collected from unauthorized access, use, or disclosure. However, we cannot guarantee the security of information transmitted over the internet, and users should take precautions to protect their own information.
        </p>
        <p class="text-black-50">
            <strong>4. Sharing of Information:</strong> We do not sell, trade, or otherwise transfer personal information to third parties without user consent. However, we may share information with trusted third parties who assist us in operating our platform, conducting our business, or servicing users, as long as those parties agree to keep this information confidential.
        </p>
        <p class="text-black-50">
            <strong>5. Data Retention:</strong> We retain personal information for as long as necessary to fulfill the purposes outlined in this privacy policy, unless a longer retention period is required or permitted by law.
        </p>
        <p class="text-black-50">
            <strong>6. User Rights:</strong> Users have the right to access, update, or delete their personal information held by us. They also have the right to withdraw consent for the collection and processing of their information at any time.
        </p>
        <p class="text-black-50">
            <strong>7. Changes to Privacy Policy:</strong> We reserve the right to modify this privacy policy at any time. Users will be notified of any changes, and continued use of the platform constitutes acceptance of the modified policy.
        </p>
        <p class="text-black-50">
            <strong>8. Contact Information:</strong> If users have any questions or concerns about this privacy policy or our practices regarding their personal information, they may contact us at <a href="mailto:saleflowpro88@gmail.com">saleflowpro88@gmail.com</a>
        </p>
        <p class="text-black-50">
        By using our platform, you agree to the terms of this privacy policy. If you do not agree with these terms, please do not use the platform.
        </p>

  </div>
</div>
</div>

{% endblock content %}